@font-face {
  font-family: 'iconfont';  /* Project id 2715236 */
  src: url('//at.alicdn.com/t/font_2715236_el407xidnow.woff2?t=1628780269870') format('woff2'),
       url('//at.alicdn.com/t/font_2715236_el407xidnow.woff?t=1628780269870') format('woff'),
       url('//at.alicdn.com/t/font_2715236_el407xidnow.ttf?t=1628780269870') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


