@font-face {
  font-family: 'iconfont';  /* Project id 2715236 */
  src: url('//at.alicdn.com/t/font_2715236_st9okoybbk.woff2?t=1627954966864') format('woff2'),
       url('//at.alicdn.com/t/font_2715236_st9okoybbk.woff?t=1627954966864') format('woff'),
       url('//at.alicdn.com/t/font_2715236_st9okoybbk.ttf?t=1627954966864') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


