@import './vrirables.scss';

// @import "./style/mixins.scss";
// @include ellipsis;
// ----功能-------
@mixin lines($s:1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $s;
  overflow: hidden;
}
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin scale05 {
    display: inline-block;
    font-size: 0.2rem;
    transform: scale(0.5);
    transform-origin: top;
    // transform-origin:center top;
}
@mixin rodate180 {
    transform: rotate(180deg);
}
@mixin bgGradientDown {
  background-size: 100% 1.59rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(0, 145, 255, 0) 4%, $bgColor-lightBlue 50%);
  // background-image: linear-gradient(239deg, #3a6ff3 0%, #50c7fb 100%);
}
// 边框影子
@mixin shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
}
@mixin iconD($size:.22rem,$fsize:.16rem) {
  background: chocolate;
  color: $textColor-white;
  font-size: $fsize;
  border-radius: 8px;
  display: inline-block;
  line-height: $size;
  text-align: center;
  height: $size;
  width: $size;
}
// ----class-------
@mixin wrapper($pt:0.68rem,$pb:0.5rem) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  padding: $pt 0 $pb;
  overflow-y: auto;
  background: $bgColor;
}
@mixin hander {
    display: flex;
    justify-content: space-between;
    color: $content-fontcolor;
    font-size: 0.16rem;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: .31rem .18rem .11rem;
    background: $bgColor-white;
    z-index: 1;
}
@mixin star($scale:0.45) {
        display: inline-block;
        width: 0.25rem;
        height: 0.25rem;
        line-height: 0.25rem;
        font-size: 0.14rem;
        text-align: center;
        color: #ffc700;
        background: rgba($color: $blank-fontcolor, $alpha: 0.2);
        border-radius: 50%;
        transform: scale($scale);
        position: absolute;
        top: -0.05rem;
        left: -0.05rem;
}