// @import "./style/vrirables.scss";
$blank-fontcolor:#000;
$blanks-fontcolor:#262628;
$content-fontcolor:#333;
$mediun-fontcolor:#666;
$light-fontcolor:#999;
$price-fontcolor:#e93b3b;
$light-backColor:#b6b6b6;
$discount-title:#c1c0c9;
$content-bgColor:#f1f1f1;
$bgColor-lightBlue:#0091ff;
$bgColor-white:#fff;
$bgColor:#f8f8f8;
$textColor-white:#fff;
$textColor-lightRed:#E93B3B;
$content-loginFontColor:#777;
$dorder-button:#4fb0f9;