// @import "./style/vrirables.scss";
$blank-fontcolor:#000;
$content-fontcolor:#333;
$mediun-fontcolor:#666;
$light-fontcolor:#999;
$content-bgColor:#f1f1f1;
$bgColor-white:#fff;
$bgColor-lightBlue:#0091ff;
$textColor-white:#fff;
$textColor-lightRed:#E93B3B;
$content-loginFontColor:#777;